## Global Historical Climatology Network Dataset
Variables are stored in both rows and columns
This dataset represents the daily weather records for a weather station (MX17004) in Mexico for five months in 2010.

In [1]:
import pandas as pd 
data = pd.read_csv('../../lab-data_cleaning/weather-raw.csv')
# Preview the first 5 lines of the loaded data 
data

,id,year,month,element,d1,d2,d3,d4,d5,d6,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
0,MX17004,2010,1,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27.8,NaN
1,MX17004,2010,1,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.5,NaN
2,MX17004,2010,2,tmax,NaN,27.3,24.1,NaN,NaN,NaN,...,NaN,29.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,MX17004,2010,2,tmin,NaN,14.4,14.4,NaN,NaN,NaN,...,NaN,10.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,MX17004,2010,3,tmax,NaN,NaN,NaN,NaN,32.1,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,MX17004,2010,3,tmin,NaN,NaN,NaN,NaN,14.2,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,MX17004,2010,4,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,36.3,NaN,NaN,NaN,NaN
7,MX17004,2010,4,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,16.7,NaN,NaN,NaN,NaN
8,MX17004,2010,5,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,33.2,NaN,NaN,NaN,NaN
9,MX17004,2010,5,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,18.2,NaN,NaN,NaN,NaN
10,MX17004,2010,6,tmax,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.1,NaN,NaN
11,MX17004,2010,6,tmin,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN
12,MX17004,2010,7,tmax,NaN,NaN,28.6,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,MX17004,2010,7,tmin,NaN,NaN,17.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,MX17004,2010,8,tmax,NaN,NaN,NaN,NaN,29.6,NaN,...,NaN,26.4,NaN,29.7,NaN,NaN,NaN,28.0,NaN,25.4
15,MX17004,2010,8,tmin,NaN,NaN,NaN,NaN,15.8,NaN,...,NaN,15.0,NaN,15.6,NaN,NaN,NaN,15.3,NaN,15.4
16,MX17004,2010,10,tmax,NaN,NaN,NaN,NaN,27.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,31.2,NaN,NaN,NaN
17,MX17004,2010,10,tmin,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,15.0,NaN,NaN,NaN
18,MX17004,2010,11,tmax,NaN,31.3,NaN,27.2,26.3,NaN,...,NaN,NaN,NaN,NaN,28.1,27.7,NaN,NaN,NaN,NaN
19,MX17004,2010,11,tmin,NaN,16.3,NaN,12.0,7.9,NaN,...,NaN,NaN,NaN,NaN,12.1,14.2,NaN,NaN,NaN,NaN
20,MX17004,2010,12,tmax,29.9,NaN,NaN,NaN,NaN,27.8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,MX17004,2010,12,tmin,13.8,NaN,NaN,NaN,NaN,10.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
data.describe()

,year,month,d1,d2,d3,d4,d5,d6,d7,d8,...,d22,d23,d24,d25,d26,d27,d28,d29,d30,d31
count,22.0,22.000000,2.000000,4.000000,4.000000,2.000000,8.000000,2.000000,2.000000,2.000000,...,0.0,4.000000,0.0,2.000000,2.000000,6.000000,2.00000,4.000000,2.00000,2.000000
mean,2010.0,6.272727,21.850000,22.325000,21.150000,19.600000,20.862500,19.150000,20.500000,23.150000,...,NaN,20.500000,NaN,22.650000,20.100000,24.383333,23.10000,22.850000,21.15000,20.400000
std,0.0,3.601347,11.384419,8.254443,6.405466,10.748023,8.904243,12.232947,10.748023,8.273149,...,NaN,9.118845,NaN,9.970206,11.313708,9.292022,11.45513,7.294062,9.40452,7.071068
min,2010.0,1.000000,13.800000,14.400000,14.400000,12.000000,7.900000,10.500000,12.900000,17.300000,...,NaN,10.700000,NaN,15.600000,12.100000,14.200000,15.00000,15.300000,14.50000,15.400000
25%,2010.0,3.250000,17.825000,15.825000,16.725000,15.800000,14.150000,14.825000,16.700000,20.225000,...,NaN,13.925000,NaN,19.125000,16.100000,17.075000,19.05000,17.325000,17.82500,17.900000
50%,2010.0,6.000000,21.850000,21.800000,20.800000,19.600000,21.050000,19.150000,20.500000,23.150000,...,NaN,20.700000,NaN,22.650000,20.100000,22.950000,23.10000,23.000000,21.15000,20.400000
75%,2010.0,9.500000,25.875000,28.300000,25.225000,23.400000,27.650000,23.475000,24.300000,26.075000,...,NaN,27.275000,NaN,26.175000,24.100000,31.825000,27.15000,28.525000,24.47500,22.900000
max,2010.0,12.000000,29.900000,31.300000,28.600000,27.200000,32.100000,27.800000,28.100000,29.000000,...,NaN,29.900000,NaN,29.700000,28.100000,36.300000,31.20000,30.100000,27.80000,25.400000

In [3]:
null_cols = data.isnull().sum()
null_cols

id          0
year        0
month       0
element     0
d1         20
d2         18
d3         18
d4         20
d5         14
d6         20
d7         20
d8         20
d9         22
d10        20
d11        20
d12        22
d13        20
d14        18
d15        20
d16        20
d17        20
d18        22
d19        22
d20        22
d21        22
d22        22
d23        18
d24        22
d25        20
d26        20
d27        16
d28        20
d29        18
d30        20
d31        20
dtype: int64

In [4]:
#data[['d1','d31'] = data[['d1','d31']].fillna(0)
#data.loc[:,'d1':'d31'] = data.loc[:,'d1':'d31'].fillna(0)

In [5]:
null_cols = null_cols[null_cols > 0] / len(data) * 100
null_cols

d1      90.909091
d2      81.818182
d3      81.818182
d4      90.909091
d5      63.636364
d6      90.909091
d7      90.909091
d8      90.909091
d9     100.000000
d10     90.909091
d11     90.909091
d12    100.000000
d13     90.909091
d14     81.818182
d15     90.909091
d16     90.909091
d17     90.909091
d18    100.000000
d19    100.000000
d20    100.000000
d21    100.000000
d22    100.000000
d23     81.818182
d24    100.000000
d25     90.909091
d26     90.909091
d27     72.727273
d28     90.909091
d29     81.818182
d30     90.909091
d31     90.909091
dtype: float64

In [6]:
threshold = 95.00

#null_cols = null_cols[null_cols > 0] / len(data) * 100


null_filter = null_cols > threshold

drop_cols = list(null_cols[null_filter].index)

drop_cols

['d9', 'd12', 'd18', 'd19', 'd20', 'd21', 'd22', 'd24']

In [7]:
data.drop(drop_cols, axis=1, inplace=True)

len(data.columns)

27

In [8]:
data.loc[:,'d1':'d31'] = data.loc[:,'d1':'d31'].fillna(0)
data.T

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
id,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,...,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004,MX17004
year,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010,...,2010,2010,2010,2010,2010,2010,2010,2010,2010,2010
month,1,1,2,2,3,3,4,4,5,5,...,7,7,8,8,10,10,11,11,12,12
element,tmax,tmin,tmax,tmin,tmax,tmin,tmax,tmin,tmax,tmin,...,tmax,tmin,tmax,tmin,tmax,tmin,tmax,tmin,tmax,tmin
d1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,29.9,13.8
d2,0,0,27.3,14.4,0,0,0,0,0,0,...,0,0,0,0,0,0,31.3,16.3,0,0
d3,0,0,24.1,14.4,0,0,0,0,0,0,...,28.6,17.5,0,0,0,0,0,0,0,0
d4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,27.2,12,0,0
d5,0,0,0,0,32.1,14.2,0,0,0,0,...,0,0,29.6,15.8,27,14,26.3,7.9,0,0
d6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,27.8,10.5
d7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,28.1,12.9,0,0,0,0
d8,0,0,0,0,0,0,0,0,0,0,...,0,0,29,17.3,0,0,0,0,0,0
d10,0,0,0,0,34.5,16.8,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
d11,0,0,29.7,13.4,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
d13,0,0,0,0,0,0,0,0,0,0,...,0,0,29.8,16.5,0,0,0,0,0,0
d14,0,0,0,0,0,0,0,0,0,0,...,29.9,16.5,0,0,29.5,13,0,0,0,0
d15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,28.7,10.5,0,0,0,0
d16,0,0,0,0,31.1,17.6,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
d17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
d23,0,0,29.9,10.7,0,0,0,0,0,0,...,0,0,26.4,15,0,0,0,0,0,0
d25,0,0,0,0,0,0,0,0,0,0,...,0,0,29.7,15.6,0,0,0,0,0,0
d26,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,28.1,12.1,0,0
d27,0,0,0,0,0,0,36.3,16.7,33.2,18.2,...,0,0,0,0,0,0,27.7,14.2,0,0
d28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,31.2,15,0,0,0,0
d29,0,0,0,0,0,0,0,0,0,0,...,0,0,28,15.3,0,0,0,0,0,0
d30,27.8,14.5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
d31,0,0,0,0,0,0,0,0,0,0,...,0,0,25.4,15.4,0,0,0,0,0,0

In [11]:
data.dtypes

id          object
year         int64
month        int64
element     object
d1         float64
d2         float64
d3         float64
d4         float64
d5         float64
d6         float64
d7         float64
d8         float64
d10        float64
d11        float64
d13        float64
d14        float64
d15        float64
d16        float64
d17        float64
d23        float64
d25        float64
d26        float64
d27        float64
d28        float64
d29        float64
d30        float64
d31        float64
dtype: object